<<<<<<< Updated upstream
.SplitScreen {
    display: flex;
    
  }
  .MapLeft{
      width: 70%;
      height: 100vh;
    }

    .ControlsRight{
      width: 30%;
    }
=======
.SplitScreen {
  display: flex;

  .MapLeft {
    width: 80%; 
  }
  .ControlsRight { 
    width: 20%; 
  } 
}


>>>>>>> Stashed changes
